addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiohttp-retry==2.8.3
aiosignal==1.3.2
aiosqlite==0.17.0
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.4
appwrite==4.1.0
asgiref==3.8.1
asttokens==2.4.1
async-timeout==4.0.3
asyncpg==0.29.0
atlastk==0.13.3
attrs==25.3.0
banks==2.1.2
bard-py==0.4.0
bard-webapi==0.2.4
bardapi==0.1.23a0
bcrypt==4.2.0
beautifulsoup4==4.13.4
bidict==0.23.1
blinker==1.9.0
bm25s==0.2.12
bs4==0.0.2
CacheControl==0.13.1
cachelib==0.13.0
cachetools==5.3.2
certifi==2025.4.26
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.2
chess==1.10.0
click==8.1.8
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.2.1
cryptography==44.0.3
cycler==0.12.1
Cython==3.0.12
dataclasses==0.6
dataclasses-json==0.6.7
debugpy==1.8.5
decorator==4.4.2
Deprecated==1.2.18
deprecation==2.1.0
dirtyjson==1.0.8
discord==2.3.2
discord.py==2.3.2
diskcache==5.6.3
distro==1.9.0
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.14.0
easyocr==1.7.2
ecdsa==0.19.0
environs==11.0.0
exceptiongroup==1.2.2
executing==2.0.1
fastapi==0.112.0
ffmpy==0.4.0
filelock==3.18.0
filetype==1.2.0
fire==0.5.0
firebase==4.0.1
Flask==3.1.0
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Mobility==2.0.1
Flask-RESTful==0.3.10
Flask-Session==0.8.0
Flask-SocketIO==5.5.1
fonttools==4.52.4
frozenlist==1.6.0
fsspec==2025.3.2
glcontext==3.0.0
google-api-core==2.15.0
google-api-python-client==2.112.0
google-auth==2.26.1
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gotrue==2.1.0
gradio==4.41.0
gradio_client==1.3.0
greenlet==3.2.1
griffe==1.7.3
grpcio==1.60.0
grpcio-status==1.60.0
gTTS==2.5.3
h11==0.16.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
hugchat==0.4.2
huggingchat==0.0.1.dev0
huggingface-hub==0.30.2
hyperframe==6.0.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.5.1
importlib_resources==6.4.0
inflect==7.3.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
iso8601==1.1.0
isosurfaces==0.1.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jiter==0.9.0
joblib==1.5.0
json2html==1.3.0
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.58
langchain-ollama==0.3.2
langchain-text-splitters==0.3.8
langsmith==0.3.42
lazy_loader==0.4
llama-cloud==0.1.19
llama-cloud-services==0.6.21
llama-index==0.12.34
llama-index-agent-openai==0.4.7
llama-index-cli==0.4.1
llama-index-core==0.12.34.post1
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.11
llama-index-llms-openai==0.3.38
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.7
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.21
llvmlite==0.43.0
loguru==0.7.2
manimgl==1.7.2
ManimPango==0.6.0
mapbox_earcut==1.0.3
Markdown==3.7
markdown-it-py==3.0.0
markdownify==1.1.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
more-itertools==10.4.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.7
msgspec==0.18.6
multidict==6.4.3
mypy_extensions==1.1.0
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
ninja==1.11.1.4
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
ollama==0.4.8
openai==1.77.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
orjson==3.10.18
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parso==0.8.4
passlib==1.7.4
pdf2image==1.17.0
pdfminer.six==20250327
pdfplumber==0.11.6
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.4.0
postgrest==0.15.0
postgrest-py==0.4.0
pproxy==2.7.9
proglog==0.1.10
prompt_toolkit==3.0.47
propcache==0.3.1
proto-plus==1.23.0
protobuf==4.25.1
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pvpn==0.2.5
py==1.11.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.13.6
pyclipper==1.3.0.post6
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.11.4
pydantic-settings==2.9.1
pydantic_core==2.33.2
pydub==0.25.1
pyglet==2.1.6
pyglm==2.8.2
Pygments==2.18.0
PyJWT==2.8.0
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
PyOpenGL==3.1.9
pyparsing==3.1.1
pypdf==5.4.0
pypdfium2==4.30.1
pyperclip==1.9.0
pypika-tortoise==0.1.6
pypng==0.20220715.0
PySocks==1.7.1
pytesseract==0.3.13
pytest==6.2.5
python-bidi==0.6.6
python-chess==1.999
python-core==0.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-engineio==4.11.2
python-jose==3.3.0
python-multipart==0.0.9
python-socketio==5.12.1
pytz==2025.2
pyvpn==1.2
PyYAML==6.0.2
pyzmq==26.1.0
pyzxing==1.0.2
qrcode==7.4.2
rank-bm25==0.2.2
rdp==0.8
realtime==1.0.2
realtime-py==0.1.3
regex==2024.11.6
reportlab==4.3.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.7.1
rsa==4.9
ruff==0.5.7
safetensors==0.5.3
scikit-image==0.25.2
scipy==1.15.2
screeninfo==0.8.1
selenium==4.22.0
semantic-version==2.10.0
setuptools==72.1.0
shapely==2.1.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
skia-pathops==0.8.0.post2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
SpeechRecognition==3.14.2
SQLAlchemy==2.0.40
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.37.2
storage3==0.7.0
StrEnum==0.4.15
stripe==10.6.0
striprtf==0.0.26
supabase==2.3.5
supafunc==0.3.3
svgelements==1.9.6
sympy==1.14.0
tenacity==9.1.2
termcolor==2.4.0
tifffile==2025.3.30
tiktoken==0.9.0
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.12.0
torch==2.2.2
torchaudio==2.4.0.dev20240809
torchvision==0.17.2
tornado==6.4.1
tortoise==0.1.1
tortoise-api==0.10.0
tortoise-orm==0.21.5
tortoise_api_model==0.9.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
trio==0.25.1
trio-websocket==0.11.1
twilio==9.0.5
typeguard==4.3.0
typer==0.12.3
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
uvicorn==0.30.5
validators==0.22.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.1.3
wifi_qrcode==2.1.0
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.0
zstandard==0.23.0
